{% extends 'templates/template_html/layout.html' %}
{% block title %}
    <title>Заключение</title>
{% endblock %}
{% block content %}

    <img class="center-image main-image" src="{{ s }}/asd.png" height="50px" width="50px"/>
    <p class="center">Информационный лист об электронном отчете № {{ report.report_number }} </p>
    <table class="finish-table">
        <tr>
            <th colspan="2" class="center header-table-finish">1. Обьект оценки</th>
        </tr>
        <tr>
            <td><span>{{ closing.movable_property_desc }} : </span></td>
            <td>{{ closing.movable_property }}</td>
        </tr>
        <tr>
            <td><span>{{ closing.place_registration_desc }}</span></td>
            <td>{{ car.owner_address }}</td>

        </tr>
        <tr>
            <td><span>{{ closing.damage_auto_desc }} : {{ report.report_date }}</span></td>
            <td>{{ report.total_report_cost }} {{ report.get_total_report_cost_txt() }}</td>

        </tr>
        <tr>
            <td><span>{{ closing.owner_desc }}:</span></td>
            <td>{{ car.car_owner }}</td>

        </tr>
        <tr>
            <th colspan="2" class="center header-table-finish">2. Сведения о заказчике</th>
        </tr>
        <tr>
            <td><span>{{ closing.customer_desc }} :</span></td>
            <td>{{ customer.name }}</td>

        </tr>
        {% if customer.type_customer == 1 and enumeration %}
            <tr>
                <td><span>{{ closing.customer_props_desc }}:</span></td>
                <td><p>
                    {{ customer.address }}
                    р\с {{ enumeration.p_c }},
                    {{ enumeration.bank }},
                    МФО {{ enumeration.MFO }},
                    ИНН {{ enumeration.INN }},
                    ОКЭД {{ enumeration.OKED }},
                    {#                    паспорт серия: {{ report.contract.customer.passport_number }}#}
                    {#                    <br>#}
                    {#                    дата выдачи: {{ report.contract.customer.when_passport_issued }} года#}
                    {#                    <br>#}
                    {#                    от: {{ report.contract.customer.whom_passport_issued }}#}

                </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td><span>{{ closing.customer_address_desc }} :</span></td>
                <td>{{ customer.address }}</td>

            </tr>
            <tr>
                <td><span>Паспортные данные :</span></td>
                <td>{{ customer.passport_number }} {{ customer.when_passport_issued }} {{ customer.whom_passport_issued }}</td>
            </tr>
        {% endif %}
        <tr>
            <th colspan="2" class="center header-table-finish">2.1 Сведения об исполнителе</th>
        </tr>
        <tr>
            <td><span>Исполнитель :</span></td>
            <td>ООО «AMIR AVTO BAHOLASH»</td>
        </tr>
        <tr>
            <td><span>Реквизиты исполнителя :</span></td>
            <td>г.Ташкент Чиланзарский район, ул. Бунёдкор, 118 р/с 20208000298017089001,
                в Чиланзар.ф-л АИКБ "Ипак Йули", МФО 01067, ИНН 302667624 ОКЭД 68310.
            </td>

        </tr>
        <tr>
            <th colspan="2" class="center header-table-finish">3. Другие свдения</th>
        </tr>
        <tr>
            <td><span>Цель и назначение оценки :</span></td>
            <td>Определение рыночной стоимости затрат на восстановление
                АМТС, пострадавшего в результате ДТП
            </td>

        </tr>
        <tr>
            <td><span>Вид определяемой стоимости :</span></td>
            <td>Результаты оценки предполагается использовать в целях
                разрешения спора о величине причиненного имуществу ущерба
            </td>

        </tr>
        <tr>
            <td><span>Форма отчета :</span></td>
            <td>Электронная
            </td>

        </tr>
        <tr>
            <td><span>П Сведения о Лицензии и Страховом полисе Исполнителя :</span></td>
            <td>Лицензия на осуществление оценочной деятельности выданная ГКИ РУз серия
                BL001 №0033 рег№ RR 0184 от выданная 12.05.2014г., Полис страхования
                профессиональной ответственности оценочной организации №15-13-457от 26.10.2020г,
                страховая компания - ООО СК «XALQ SUG`URTA».
            </td>

        </tr>
        <tr>
            <td><span>Законодательные или договорные ограничения :</span></td>
            <td>Закон «об оценочной деятельности» N 811-I от 19.08.1999 г, НСО 1-6, 13.
                договорные ограничения
            </td>

        </tr>
        <tr>
            <td><span>Основание для проведения оценки :</span></td>
            <td>Договор № {{ contract.contract_number }} от {{ contract.contract_date }}</td>
        </tr>
        <tr>
            <td><span>Дата оценки :</span></td>
            <td>{{ report.report_date }}</td>

        </tr>
        <tr>
            <td><span>Дата составления отчета об оценки :</span></td>
            <td>{{ report.report_date }}</td>
        </tr>
        <tr>
            <td><span>Ссылка для просмотра и
            скачиванию отчета с
            сайта :</span>
            </td>
            <td>http://e-otsenka.uz {{ report.key }}</td>

        </tr>
        <tr>
            <td><span>QR код для
            просмотра отчета : </span>
            </td>
            <td><img class="qr-code-small" alt="" src="{{ qrcode_some }}"/></td>
        </tr>
    </table>
    <p class="text-intent"> Данный электронный отчёт составлен по ЕНСО Зарегистрированный Министерством юстиции
        Республики
        Узбекистан от 4 июня 2020 г. Регистрационный №3239, НСО№4 в соответствии с законодательством об
        оценочной деятельности и оформлены в виде отчета об оценке стоимости объекта оценки, подтвержденного на
        основании собранной информации и расчетов, Глава 2. Требования к содержанию отчета об оценке, пункт 40
        Данный отчета об оценке выполнен в формате электронного документа, утверждённый оценщиком и
        руководителем оценочной организации с использованием электронно-цифровой подписи!
    </p>
    {% if qrcode %}
        <img alt="" src="{{ qrcode }}" class="qr-code-big"/>
    {% endif %}

{% endblock %}