<div class="paginate-figure">
    {% for pass in passport %}
        {% if loop.first %}
            <div class="new-page">
        {% endif %}
    <img src="{{ s }}/{{ pass.photo.name }}" alt="" class="half-list">
    {% if loop.last %}
        </div>
    {% endif %}
    {% endfor %}


    {% for pass in other_photos %}
        {% if loop.first %}
            <div class="new-page">
        {% endif %}
    <img src="{{ s }}/{{ pass.photos.name }}" alt="" class="half-list">
    {% if loop.last %}
        </div>
    {% endif %}
    {% endfor %}


    {% for image in images %}
        {% if loop.first %}
            <div class="new-page">
        {% endif %}
    <img src="{{ s }}/{{ image.image.name }}" alt="" class="three-list">
    {% if loop.last %}
        </div>
    {% endif %}
    {% endfor %}
    {% if document_photo %}
        <div class="new-page">
            <table id="image-table" class="center-image">
                <tr>
                    <td><img src="{{ s }}/{{ document_photo.license.name }}" alt="" class="two-list"></td>
                    <td><img src="{{ s }}/{{ document_photo.guvonhnoma.name }}" alt="" class="two-list"></td>
                </tr>
                <tr>
                    <td><img src="{{ s }}/{{ document_photo.certificate.name }}" alt="" class="two-list"></td>
                    <td><img src="{{ s }}/{{ document_photo.insurance.name }}" alt="" class="two-list"></td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if checks %}
        <img src="{{ s }}/{{ checks.checks.name }}" alt="" class="half-list new-page">
    {% endif %}
</div>