
.border {
    border: 1px solid black;
    border-collapse: collapse;
}

.first-table td:first-child {
    width: 30%;
}

.second-table td:first-child {
    width: 20%;
}

.container {
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
}

