@page {
    margin: 0.3cm;
    font-family: "Times New Roman";
}


.finish-table {
    font-size: 1em;
}

.finish-table td {
    padding: 5px
}

.qr-code-small {
    width: 50px;
    height: 50px;
}


.header-table-finish {
    background-color: gray;
}

.finish-table td:first-child {
    width: 32%;
}

.main-image {
    padding: 0px;
    margin: 0px;
    height: 80px;
    width: 120px;
}



