@font-face {
 font-family: 'Roman';
    src: local('templates/font/roman.ttf');

}
* {
    font-size: 0.37cm;
    font-family: "Times New Roman";
}

.container {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.container-right {
    display: flex;
    margin: 0 1cm;
}

.container-column {
    margin: 0px 10%;
    display: flex;
    flex-direction: column;
}

.reduce-font-size {
    font-size: 80%;
}

.margin-1-top {
    margin-top: 1cm;
}

.margin-2-top {
    margin-top: 2cm;
}

.margin-1-left {
    margin-left: 1cm;
}

.margin-2-left {
    margin-left: 2cm;
}

.make-bold {
    font-weight: bold;
}

.text-intent {

    text-indent: 2em;

}


table, td, th {
    border: 1.2px solid black;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.center {
    text-align: center;
}


p {
    margin: 1.5px;
}

.large-text {
    white-space: pre-line;
}

.large-text-space {
    margin-left: -0.8cm;
    white-space: pre;
}

.only-left {

    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.only-top {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.reduce-1-margin-top {
    margin-top: -1cm;
}

.qr-code-big {
    width: 80px;
    height: 80px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 1cm;
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.new-page {
    page-break-before: always;
}
.right{
    text-align: right;
}