@import url("icofont.min.css");
@import url("bootstrap.min.css");
@import url("fontawsom-all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#main {
    margin-left: 279px;
    padding-bottom: 5%;
}

@media (max-width: 1199px) {
    #main {
        margin-left: 0;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 279px;
    z-index: 9997;
    background: #5c6e91;
    overflow-y: auto;
    transition: all ease-in-out 0.5s;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
}

#header .profile h2 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 900;
    text-align: center;
}

#header .profile h2 a,
#header .profile h2 a:hover {
    color: #fff;
    text-decoration: none;
}

/*------------------------------
  # Navigation Menu
  -------------------------------*/
.nav-menu {
    padding-top: 63px;
}

.nav-menu ul {
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    font-size: 12px;
    font-weight: 400;
    height: 75px;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-menu > ul > li:after {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background: #fff;
    opacity: 0.2;
    margin-top: 75px;
    z-index: -1;
}

.nav-menu > ul > li:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background: #fff;
    opacity: 0.2;
    top: 0px;
    z-index: -1;
}

.nav-menu ul li img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.nav-menu ul li svg {
    margin-bottom: 10px;
}

.nav-menu > ul > .active {
    background: #54617b;
    position: relative;
}

.nav-menu > ul > .active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: -1px;
    background: #54617b;
    z-index: 9999;
}

.nav-menu > ul > .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -1px;
    background: #54617b;
    z-index: 9999;
}

.nav-menu > ul > li:hover {
    background: #54617b;
}

.nav-menu ul li a {
    color: #fff;
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: #5c6e91;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/*-------------------------------
  # Header-top
  -------------------------------*/
.header-top {
    width: 100%;
    height: 56px;
    background: #fff;
}

/*.header-top.header-scrolled, .header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
  }*/

/*-------------------------------
  # Navigation Menu
  -------------------------------*/
.new-document-part {
    position: absolute;
    top: 0;
    margin-left: 349px;
    height: 56px;
}

.new-document-part ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 10px 0 0 0;
}

.new-document-part a {
    display: block;
}

.new-document-btn {
    background: #f4f4f2;
    border-radius: 5px;
    width: 262px;
    height: 36px;
    padding: 8px 68px 8px 68px;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
}

.new-document-btn:hover {
    background: #f4f4f2;
    color: #4f4f4f;
}

@media (max-width: 768px) {
    .new-document-part {
        margin-left: 0px;
    }
}

.user-profile-part {
    height: 56px;
    position: absolute;
    right: 34px;
    top: 0;
}

@media (max-width: 1400px) {
    .user-profile-part {
        right: 64px;
    }
}

.user-profile-part ul {
    margin: 0;
    height: 56px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.user-profile-part a {
    display: block;
}

.user-profile-part ul .img-user-profile {
    margin-top: -4px;
}

.user-name-btn {
    margin-left: 4px;
    margin-right: 28px;
    width: 90px;
    height: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
}

.user-name-btn a {
    color: #3f3f3f;
}

.user-name-btn a:hover {
    background: none;
    color: #3f3f3f;
}

@media (max-width: 768px) {
    .user-name-btn {
        width: 90px;
        height: 26px;
        padding: 3px 1px 3px 1px;
    }
}

.log-out-btn {
    background: #ffffff;
    border: 1px solid #5c6e91;
    box-sizing: border-box;
    border-radius: 5px;
    width: 168px;
    height: 26px;
    padding: 3px 64px 3px 64px;
    font-weight: normal;
    color: #6f6f6f;
    font-size: 12px;
}

.log-out-btn:hover {
    background: #ffffff;
    color: #6f6f6f;
}

@media (max-width: 768px) {
    .user-profile-part ul li:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .user-name-btn {
        display: none;
    }
}


/*--------------------------------------------------------------
# material form
--------------------------------------------------------------*/
.padding_phone {
    margin: 31px auto;
}

@media (max-width: 768px) {
    .padding_phone {
        padding: 0 15px;
    }
}

.material-form-1 {
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
    max-width: 900px;
    z-index: 9999;
}

@media only screen and (max-width: 768px) {
    .material-form-1 {
        padding: 20px 20px 0px 20px;
    }
}

.material-form-2 {
    padding: 0px;
    margin: 0 auto;
    max-width: 900px;
    z-index: -999;
}


/* common */
.save-btn-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-btn {
    background: none;
    border: 2px solid #5c6e91;
    border-radius: 5px;
    padding: 12px 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 15px;
    color: #4f4f4f;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.save-btn:hover {
    background-color: #5c6e91;
    color: #fff;
}


/*--------------------------------------------------------------
# file upload
--------------------------------------------------------------*/
.file-upload {
    display: block;
    height: 40px;
    max-width: 900px;
    margin-bottom: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.file-upload .file-select {
    height: 40px;
    display: block;
    background: none;
    border-radius: 5px;
    border: 1px solid #5c6e91;

    color: #6f6f6f;
    line-height: 36px;
    text-align: left;

    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    height: 34px;
    width: 131px;
    border-radius: 5px;
    background: #5c6e91;
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 2px;

    line-height: 34px;
}

.file-upload .file-select .file-select-button span {
    color: #fff;
    padding: 0px 42px;
}

.file-upload .file-select .file-select-name {
    position: absolute;
    left: 26px;
    display: inline-block;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*--------------------------------------------------------------
# Select block
--------------------------------------------------------------*/
.select-block {
    background-color: #5c6e91;
    max-width: 900px;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.select-block label {
    left: 4px;
    top: 4px;
    margin: 0;
    position: absolute;
    max-width: 870px;
    height: 40px;

    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    z-index: 1;
    color: #fff;
    font-weight: normal;
    font-size: 12px;

    overflow: hidden;
}
#date-select{
        width: 250px;
}

#id_brand {
    background-color: #5c6e91;
    color: white;
    max-width: 900px;
    height: 40px;
    position: relative;
    margin-bottom: 20px;

    border-radius: 5px;
    width: 100%;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#id_brand:focus {
    box-shadow: none;
    border-color: none;
}

.select-block option {
    left: 30px;
    top: 12px;
    margin: 0;
    position: absolute;
    max-width: 870px;
    margin-left: 20px;
    height: 40px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    z-index: 1;
    color: #fff;
    font-weight: normal;
    font-size: 15px;

    overflow: hidden;
}


.select-block.focus label {
    top: 2px;
    font-size: 12px;
    color: #2196f3;
}

.select-block.added label {
    color: #ccc;
    top: 2px;
    font-size: 12px;
}


.select-block.added.focus label {
    top: 2px;
}

.select-block .active-list {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    color: #c9c9c9;
    position: relative;
    z-index: 2;
    font-weight: normal;
    cursor: pointer;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.select-block.added .active-list {
    color: #fff;
    font-size: 12px;
}

.select-block.focus .active-list {
    font-size: 12px;
}

.select-block .active-list:after {
    content: "▼";
    position: absolute;
    right: 5px;
    background: #5c6e91;
    top: 0;
    width: 20px;
    padding-left: 0px;

    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.select-block.focus .active-list:after {
    content: "▲";
    color: #fff;
}

.select-block .custom-select {
    border: 0;
    display: inline-block;
    height: 40px;
    position: relative;
    padding: 0;
    width: 100%;
    line-height: 52px;
    background: transparent;
}

.select-block.focus .custom-select {
    border-color: #fff;
}

.select-block.focus .custom-select::before {
    left: 0%;
    width: 100%;
}

/*.select-block .custom-select::before {
    border: 0;
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    bottom: 0;
    height: 2px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #2196f3;
  }
  */

.select-block .custom-select .drop-down-list {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow-x: auto;
    z-index: 99;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    margin-top: 2px;
    left: 0;
    background: white;
    display: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}

.select-block .custom-select .drop-down-list li {
    padding: 10.5px 30px;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    background-color: #fff;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.select-block .custom-select .drop-down-list li input[type="checkbox"] {
    margin: 0;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.select-block .custom-select .drop-down-list li label {
    font-weight: normal;
    cursor: pointer;
    display: block;
}

.select-block .custom-select .drop-down-list li:hover {
    color: #3c3c3c;
    background-color: rgba(0, 0, 0, 0.05);
}

.select-block .custom-select .list-field {
    display: none;
}


/*--------------------------------------------------------------
# up 4 blocks
--------------------------------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: 40px;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin: 30px;
}

@media (max-width: 576px) {
    .grid-container {
        grid-column: 4;
        grid-template-columns: 100%;
    }
}

@media (max-width: 992px) {
    .grid-container {
        margin: 20px;
    }
}

.search_block .input form #search_button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.search_block {
    width: 100%;
    height: 40px;
}

.search_block .input span a {
    color: #5f5f55;
    font-size: 16px;
}

.search_block .input {
    position: relative;
    width: 100%;
    height: 40px;
}

.search_block .input span {
    position: absolute;
    display: block;
    right: 15px;
    top: 10px;
}

.search_block .input input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid #5c6e91;
    display: block;
    border-radius: 5px;
    padding: 0px 5px 0px 22px;
    transition: 0.2s ease-out;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #6f6f6f;
    line-height: 15px;
}

.search_block .input input::placeholder {
    color: #6f6f6f;
    opacity: 0.5;
}

.search_block .input input:focus {
    padding: 0px 5px 0px 10px;
    outline: 0;
    color: #6f6f6f;
}


.data_user {
    width: 100%;
    height: 40px;
}

.data_user .data_button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    background: #5c6e91;
    padding-left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.name_user {
    width: 100%;
    height: 40px;
}

.signed_user {
    width: 100%;
    height: 40px;
}


/*--------------------------------------------------------------
# table
--------------------------------------------------------------*/
.table1 {
    margin: 30px auto;
    max-width: 1009px;
}

@media (max-width: 1400px) {
    .table1 {
        margin: 20px;
    }
}

.table {
    width: 100%;
    font-size: 12px;
}


.table thead th {
    text-align: center;
    border-right: 1px solid #fff;
}

.table thead th:last-of-type {
    border-right: 0px solid #1d96b2;
}

/* .table thead th:first-child:before {
      content: '';
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      background: red;
      position: absolute;
     } */
.table thead {
    background-color: #5c6e91;
    border-bottom: 10px solid #e5e5e5;

    font-weight: normal;
    text-align: center;
    color: white;
}

table tfoot tr td {
    text-align: center !important;
}

tbody tr td a {
    text-decoration: underline;
    color: #5c6e91
}

.blacked td {
    color: #000
}

@media (min-width: 576px) {
    .table tbody td {
        border-right: 1px solid #fff;
        text-align: center;
    }

    .table tbody td:last-of-type {
        border-right: 0px solid #1d96b2;
    }
}

@media (max-width: 576px) {
    .tablesaw-stack tbody tr {
        border-top: 2px solid #0B0B0D;
    }
}


/*--------------------------------------------------------------
# desktop 17
--------------------------------------------------------------*/
.top_three_blocks {
    max-width: 1230px;
    padding: 0 30px;
    margin: 30px auto;
}

@media (max-width: 768px) {
    .top_three_blocks {
        width: 100%;
        padding: 0;
        margin: 30px auto;
    }
}


.director_block {
    margin-left: 7.5%;
    max-height: 100%;
    background: #5c6e91;
    border-radius: 10px;
    margin-top: 30px;
    padding: 2% 5%;
}

.director_block:after {
    content: "Директор";
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
    text-align: center;

    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 7.5%;
    right: 0;
    top: 1px;

    width: 172px;
    height: 30px;
    background: #5c6e91;
    border-radius: 20px 20px 0px 0px;
}

@media (max-width: 576px) {
    .director_block {
        margin-left: 0%;
    }

    .director_block:after {
        left: 0;
    }
}

@media (max-width: 768px) {
    .director_block {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


.grades_block {
    margin-left: 7.5%;
    max-height: 100%;
    background: #5c6e91;
    border-radius: 10px;
    margin-top: 30px;
    padding: 2% 5%;
}

.grades_block:after {
    content: "Оценки";
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
    text-align: center;

    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 7.5%;
    right: 0;
    top: 1px;

    width: 172px;
    height: 30px;
    background: #5c6e91;
    border-radius: 20px 20px 0px 0px;
}

@media (max-width: 576px) {
    .grades_block {
        margin-left: 0%;
    }

    .grades_block:after {
        left: 0;
    }
}

@media (max-width: 768px) {
    .grades_block {
        margin-bottom: 30px;
    }
}


.list_content_both {
    list-style: none;
    padding: 0;
}

.list_content_both li {
    width: 100%;
    position: relative;
    margin: 20px 0;
}


.input-name {
    position: relative;
    height: 70px;
    top: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.input-name span {
    position: absolute;
    display: block;
    right: 22px;
    top: 22px;
}

.input-name input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: 0;
    display: block;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 30px;
    transition: 0.2s ease-out;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5c6e91;
    line-height: 15px;
}

.input-name input:focus {
    padding-left: 12px;
    outline: 0;
    color: #5c6e91;
}


.checkbox {
    height: 70px;
    top: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.checkbox .regular-checkbox {
    display: none;
}

.checkbox .regular-checkbox + label {
    background-color: #fff;
    width: 70px;
    height: 70px;
    top: 4px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.checkbox .regular-checkbox:checked + label {
    background-color: #5c6e91;
    border: 1px solid #fff;
}

.checkbox .regular-checkbox:checked + label:after {
    content: "\2714";
    font-size: 24px;
    position: absolute;
    top: 14px;
    left: 22px;
    color: #fff;
}


.license_block {
    width: 85%;
    height: 75px;
    background: #5c6e91;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.license_block:after {
    content: "Лицензия";
    color: #fff;
    font-size: 12px;
    padding-top: 8px;
    text-align: center;

    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1px;

    width: 172px;
    height: 30px;
    background: #5c6e91;
    border-radius: 20px 20px 0px 0px;
}


.save_user {
    max-width: 268px;
    height: 40px;
    margin: 0 auto;
    padding-top: 18px;
}

.save_user .save_button {
    width: 100%;
    height: 40px;
    box-shadow: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #ffffff;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}


/* ===================================== */
/* background
/* ===================================== */
.liquid_shape_first {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1 !important;
}

.liquid_shape_second {
    position: absolute;
    left: 40px;
    top: 600px;
    z-index: -1 !important;
}

@media only screen and (max-width: 576px) {
    .liquid_shape_second {
        display: none;
    }
}


.almost_latest_block {
    margin: 0px auto;
    padding-top: 40px;
    max-width: 900px;
}

.welcome-part {
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 576px) {
    .welcome-part {
        padding: 0 5px;
    }
}

.welcome_user {
    /*width: 377px;
      height: 101px;*/
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    color: #fff;
}

.last_details_price {
    margin-bottom: 15px;
}

.welcome_user h2 {
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    line-height: 29px;
}

.panel_price {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
}

.panel_price .panel_price_button {
    width: 100%;
    height: 40px;
    box-shadow: none;
    border-radius: 5px;
    background: #f05454;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.dont_know_why {
    font-size: 12px;
}

@media (max-width: 768px) {
    .dont_know_why {
        padding: 0 35px;
    }
}

.work_work {
    border: 2px solid #5c6e91;
    border-radius: 5px;
    width: 100%;
    height: 35px
}

.work_work span {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5;
}

.panel_save {
    width: 294px;
    height: 40px;
    margin: 0 auto;

}

.panel_save .panel_save_button {
    width: 294px;
    height: 40px;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 5px;
    border: 2px solid #5C6E91;
    background: transparent;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #4f4f4f;
}

.single_word {
    padding-top: 10px;
}


/*********************************/
/*********************************/
.last_bottom_block {
    background: #5c6e91;
    max-width: 887px;
    height: 100%;
    border-radius: 5px;
    margin: 30px auto;
    position: relative;
}

.white_blocks {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white_block {
    background: #fff;
    position: relative;
    border-radius: 4px;
    width: 190px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.little_white_block {
    background: #fff;
    position: relative;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
}

.little_white_block span {
    font-size: 12px;
    color: #3f3f3f;
    line-height: 60px;
    padding-left: 16px;
}

.download_button {
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.panel_user {
    top: 8px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.panel_user::before {
    top: -18px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    color: #fff;
    font-size: 12px;
}

#download_button1::before {
    content: 'Заключение';
}


#download_button2::before {
    content: 'Договор';
}

#download_button3::before {
    content: 'Отчет';
}

#download_button4::before {
    content: 'Дополнительно';
}

#download_button5::before {
    content: 'Подпись компании';
}

#download_button6::before {
    content: 'Подпись руководителя';
}
#download_button7::before {
    content: 'Одноразовый';
}

.panel_button {
    width: 158px;
    height: 25px;
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #fff;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2px;
    text-align: center;
    color: #fff;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #5c6e91;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.center {
    display: flex;
    justify-content: center;
}