



.little_white_block span {
  font-size: 12px;
  color: #3f3f3f;
  line-height: 60px;
  padding-left: 16px;
}

.download_button {
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.panel_user {
  top: 8px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.panel_user::before {
  top: -18px;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  color: #fff;
  font-size: 12px;
}
#download_button1::before {
  content: 'Заключение';
}
#download_button2::before {
  content: 'Договор';
}
#download_button3::before {
  content: 'Отчет';
}

.panel_button {
  width: 158px;
  height: 25px;
  box-shadow: none;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #fff;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2px;
  text-align: center;
  color: #fff;
}
